version: 2.1
orbs:
  node: circleci/node@5

jobs:
  start-backend:
    # Job to start the backend server
    docker:
      - image: circleci/node:14
    working_directory: ~/international-payment-pros/backend
    steps:
      - checkout
      - run:
          name: Install Backend Dependencies
          command: npm install
      - run:
          name: Verify keys directory and files
          command: |
            mkdir -p keys
            ls -al keys  # List contents of the keys directory to confirm files are present
      - run:
          name: Start Backend Server
          command: npm start  # Use your backend start command here
          background: true    # Run backend in the background

  build-frontend:
    # Frontend build job
    executor: node/default
    working_directory: ~/international-payment-pros/frontend
    steps:
      - checkout
      - run:
          name: Install Frontend Dependencies
          command: npm install
      - run:
          name: Build Frontend Project
          command: npm start
          
  sonarcloud:
    # SonarCloud analysis job
    docker:
      - image: circleci/openjdk:11-jdk  # Java is required for sonar-scanner
    working_directory: ~/international-payment-pros
    steps:
      - checkout
      - run:
          name: Install SonarScanner
          command: |
            curl -sSLo sonar-scanner-cli.zip https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.6.2.2472-linux.zip
            unzip sonar-scanner-cli.zip -d $HOME
            export PATH=$HOME/sonar-scanner-4.6.2.2472-linux/bin:$PATH && sonar-scanner \
              -Dsonar.projectKey=ST10021688_international-payment-pros \
              -Dsonar.organization=st10021688 \
              -Dsonar.host.url=https://sonarcloud.io \
              -Dsonar.login=$3744a1f613fd4fcef9487e8a57032fa5fb397c13

  deploy:
    # Placeholder for deployment steps
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: Deploy
          command: '# e.g., ./deploy.sh'

workflows:
  build-and-test:
    jobs:
      - start-backend
      - build-frontend:
          requires:
            - start-backend
      - sonarcloud:
          requires:
            - build-frontend
      - deploy:
          requires:
            - sonarcloud
